<!doctype html>
<html lang="en">
  <head>
   {% include head.html %}
  </head>
  <body>
   {% include header.html %}
<section class="banner" style="background-image: url({{site.baseurl}}{{page.background-image}}); background-repeat: no-repeat; background-size: cover; object-fit: cover; height: 70vh;" >
<div class="container" >
    <div class="row">
        <div class="col-12 text-center mt-5 mb-5">
            <h1 class=" mt-5 text-dark">
                {{ page.title}}
            </h1>
            <h6 class="mb-5 text-dark">
                {{ page.sub-heading-1}}
              
            </h6>
            <p> 
                {{ page.sub-heading-1-para}}

            </p><h6 class="mb-5 text-dark">
                {{ page.sub-heading-2}}
              
            </h6>
            <p> 
                {{ page.sub-heading-2-para}}

            </p><h6 class="mb-5 text-dark">
                {{ page.sub-heading-3}}
              
            </h6>
            <p> 
                {{ page.sub-heading-3-para}}

            </p>
        </div>
    </div>
</div>
<!-- <img src="{{site.baseurl}}{{page.background-image}}" alt=""> -->
</section>
{% include footer.html%}
{% include scripts.html%}
  </body>
</html>