<!doctype html>
<html lang="en">
  <head>
   {% include head.html %}
  </head>
  <body>
   {% include header.html %}
<secton class="banner" style="background-image: url('{{site.baseurl}}/{{page.background-image}}'); background-repeat: no-repeat; background-size: cover;">

<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5 mb-5">
            <h1 class=" mt-5 ">
                {{ page.banner-heading}}
            </h1>
            <h6 class="mb-5">
                {{ page.banner-sub-heading}}
            </h6>
        </div>
    </div>
</div>
</secton>

{% include footer.html%}
{% include scripts.html%}
  </body>
</html>